@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/Inter-Regular.ttf') format("ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url('../public/fonts/Inter-Bold.ttf') format("ttf");
}

@font-face {
  font-family: "Inconsolata";
  src: url('../public/fonts/Inconsolata-Regular.ttf') format("ttf");
}

@font-face {
  font-family: "Inconsolata-Bold";
  src: url('../public/fonts/Inconsolata-Bold.ttf') format("ttf");
}

@font-face {
  font-family: "Lora";
  src: url('../public/fonts/Lora-Regular.ttf') format("ttf");
}

@font-face {
  font-family: "Lora-Bold";
  src: url('../public/fonts/Lora-Bold.ttf') format("ttf");
}

@font-face {
  font-family: "Lora-BoldItalic";
  src: url('../public/fonts/Lora-BoldItalic.ttf') format("ttf");
}


